.Successful {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}

.Successful_Title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

.Successful_Image {
  height: 400px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 15px;
  object-fit: contain;
}

.Successful_Container {
  display: flex;
  width: 100%;
  border: 1px solid #E0E0E0;
  background-color: #F6F8FB;
  border-radius: 8px;
  justify-content: space-around;
}

.Successful_Link {
  width: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Successful_Link a {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  padding: 0px 2px;
  color: #4F4F4F;
}

.Button {
  background-color: #2F80ED;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all .2s ease-in-out
}

.Button:hover {
  background-color: #1170ec;
  color: rgb(218, 201, 201);
}

.Copied:hover {
  background-color: #2F80ED;
  color: #fff;
}
